<div>
  <div class="tabs">
    <a <% if(active=='main') { %> class="active" <% } %> href="/sim/02-mech-gravity">
      <i>book_2</i>
      <span>Знание</span>
    </a>
    <a <% if(active=='01') { %> class="active" <% } %> href="/sim/02-mech-gravity-exp-1">
      <i>satellite_alt</i>
      <span>Orbit Launch</span>
    </a>
    <a <% if(active=='02') { %> class="active" <% } %> href="/sim/02-mech-gravity-exp-2">
      <i>satellite_alt</i>
      <span>Moon Flight</span>
    </a>
    <a <% if(active=='03') { %> class="active" <% } %> href="/sim/02-mech-gravity-exp-3">
      <i>satellite_alt</i>
      <span>3-body problem</span>
    </a>
  </div>
</div>
