<div id="sim-wrapper" class="s9">
    <div id="physicsInfo">
        <div>Object height: <span id="ballSize">0.5</span> m</div>
        <div>Speed: <span id="velocityValue">0.00</span> m/s</div>
        <div>Max Speed: <span id="maxSpeed">0.00</span> m/s</div>
        <div>Height: <span id="heightValue">0.00</span> m</div>
        <div>Distance: <span id="distance">0.00</span> m</div>
        <div>g: <span id="gravityValue">0.00</span> m/s²</div>
        <div>Status: <span id="stateValue">-</span></div>
        <div>Elasticity: <span>-</span></div>
        <div>Atmospheric Resistance: <span>-</span></div>
    </div>

    <div id="sim-container"></div>
</div>