<html lang="en">
<head>
    <title>Three body problem</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="/assets/main.css">

</head>
<body>

<div class="flex five">
  <aside class="full fifth-1000">
    <h2>Contents</h2>
    <div class="links flex two three-500 five-800 one-1000">
        <div><a class="pseudo button" href="/sim/01-acceleration">Ускорение</a></div>
    </div>
  </aside>
  <article class="full four-fifth-1000">

    <h1>Three Body Problem</h1>
  
  </article>
</div>


</body>
</html>